#Exclude vendor and node_modules directories
vendor/
node_modules

#Exclude .idea directory when use intelliJ IDEs
.idea/

.env

#Exclude composer.lock because we are set the latest library versions on the composer.json
composer.lock